/* ============= GLOBAL CSS =============== */

*,
::after,
::before {
  margin: 0;
  padding: 0;

  box-sizing: inherit;
}

html {
  font-size: 100%; /* 16px */
  background-color: $cc-white;
}

body {
  box-sizing: border-box;
  background: $background-color;
  max-width: 500px;

  margin: 0 auto;

  font-family: $ff-main;
  font-weight: $font-weight-regular;
  letter-spacing: $letter-spacing;
  color: $cc-primary-500;
  line-height: 160%;

  text-align: center;

  -webkit-font-smoothing: antialiased;
}

// @media screen and (min-width: $layout-breakpoint) {
//   body {
//     max-width: 800px;
//   }
// }

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p {
  margin: 0;
  overflow-wrap: break-word;

  line-height: 2rem;
  padding: 0 1.5rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: $ff-main;
  font-weight: $font-weight-bold;
  text-transform: capitalize;
  line-height: 120%;

  color: $cc-grey-800;

  overflow-wrap: break-word;
}

h1 {
  font-size: 1.5rem; /* Large heading */
}

h2 {
  font-size: 1.25rem; /* Medium heading */
}

h3 {
  font-size: 1.125rem; /* Small heading */
}

h4 {
  font-size: 1rem; /* Extra small heading */
}

h5 {
  font-size: clamp(0.875rem, 1.5vw, 1.5rem); /* Tiny heading */
}

/* BIGGER FONTS */
/* h1 {
  font-size: clamp(3rem, 6vw, 6rem);
}

h2 {
  font-size: clamp(2.5rem, 5vw, 5rem);
}

h3 {
  font-size: clamp(2rem, 4vw, 4rem);
}

h4 {
  font-size: clamp(1.5rem, 3vw, 3rem);
}

h5 {
  font-size: clamp(1rem, 2vw, 2rem);
}
 */

.text {
  margin-bottom: 1.5rem;
  max-width: 40em;
}

small,
.text-small {
  font-size: $small-text;
}

a {
  text-decoration: none;
  color: $cc-primary-400;
}
a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
  padding: 0;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
.icon {
  width: 2rem;
  height: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.close-icon {
  border: none;
  background-color: transparent;
  color: $cc-primary-500;

  cursor: pointer;
}

.loading {
  width: 6rem;
  height: 6rem;
  border: 5px solid $cc-grey-400;
  border-radius: 50%;
  border-top-color: $cc-primary-500;
  animation: spinner 0.6s linear infinite;
}

.container {
  padding: 3rem 0;
}

.section-divider {
  margin-bottom: 1.5rem;
  & > * {
    text-transform: uppercase;
  }

  &__img {
    width: 71px;
    margin: 0 auto;
  }
}

.pw-small {
  padding-left: 5%;
  padding-right: 5%;
}

.modal-title {
  font-size: 1.125rem;
}
/* title */

.title {
  text-align: center;

  &-header {
    color: $cc-primary-800;
    text-transform: uppercase;
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
  }

  &-divider {
    width: 4.5rem;
    margin: 0 auto;
  }
}

.comment-divider {
  width: 100%;
  height: 2rem;
  border-bottom: 1px solid lighten($cc-primary-400, 25%);
  margin-bottom: 2rem;
}
