.modal {
  &__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: grid !important;
    place-items: center;

    background-color: rgba($cc-primary-800, 0.4);
    overflow-y: auto;
    overflow-x: hidden;

    z-index: -10;
    visibility: hidden;
    opacity: 0;

    transition: $transition;
  }

  &__page {
    max-width: 330px;
    width: 100%;
    height: auto;
    margin: auto;
    padding: 1.5rem;
    border-radius: 0.75rem;

    display: flex;
    flex-direction: column;

    gap: min(1.75rem, 3vh);

    background-color: $background-color;
    box-shadow: $shadow-4;

    &-heading {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: start;
    }

    &-content {
      p {
        padding: 0;
      }
    }
  }
}

.show {
  z-index: 100;
  visibility: visible;
  opacity: 1;
}
