.alert {
  width: 100%;
  height: 100%;
  padding-left: 1rem !important;
  margin-top: 0.25rem;

  font-size: $small-text;
  border-radius: 3rem;

  display: none;
  visibility: hidden;
  opacity: 0;
}

.alert-danger {
  color: rgb(226, 98, 0);
  background: rgba(248, 114, 11, 0.156);
}

.alert-success {
  color: rgb(21, 87, 36);
  background: rgba(163, 221, 176, 0.457);
}

.obligatory {
  font-size: 0.75rem;
}

.show {
  display: inline-block;
  visibility: visible;
  opacity: 1;
}
