/* primary */
/* secondary */
/* grey */
/* rest of the colors */
/* font family */
/* test size */
/* rest of the vars */
/* box shadow*/
/* ============= GLOBAL CSS =============== */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 100%; /* 16px */
  background-color: #f3f3f3;
}

body {
  box-sizing: border-box;
  background: #f6f3ee;
  max-width: 500px;
  margin: 0 auto;
  font-family: "Martel", serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  letter-spacing: 2%;
  color: #7b7047;
  line-height: 160%;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p {
  margin: 0;
  overflow-wrap: break-word;
  line-height: 2rem;
  padding: 0 1.5rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: "Martel", serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 120%;
  color: #373737;
  overflow-wrap: break-word;
}

h1 {
  font-size: 1.5rem; /* Large heading */
}

h2 {
  font-size: 1.25rem; /* Medium heading */
}

h3 {
  font-size: 1.125rem; /* Small heading */
}

h4 {
  font-size: 1rem; /* Extra small heading */
}

h5 {
  font-size: clamp(0.875rem, 1.5vw, 1.5rem); /* Tiny heading */
}

/* BIGGER FONTS */
/* h1 {
  font-size: clamp(3rem, 6vw, 6rem);
}

h2 {
  font-size: clamp(2.5rem, 5vw, 5rem);
}

h3 {
  font-size: clamp(2rem, 4vw, 4rem);
}

h4 {
  font-size: clamp(1.5rem, 3vw, 3rem);
}

h5 {
  font-size: clamp(1rem, 2vw, 2rem);
}
 */
.text {
  margin-bottom: 1.5rem;
  max-width: 40em;
}

small,
.text-small {
  font-size: 0.875rem;
}

a {
  text-decoration: none;
  color: #978c63;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
  padding: 0;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
.icon {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-icon {
  border: none;
  background-color: transparent;
  color: #7b7047;
  cursor: pointer;
}

.loading {
  width: 6rem;
  height: 6rem;
  border: 5px solid #b8b8b8;
  border-radius: 50%;
  border-top-color: #7b7047;
  animation: spinner 0.6s linear infinite;
}

.container {
  padding: 3rem 0;
}

.section-divider {
  margin-bottom: 1.5rem;
}
.section-divider, .section-divider > * {
  text-transform: uppercase;
}
.section-divider__img {
  width: 71px;
  margin: 0 auto;
}

.pw-small {
  padding-left: 5%;
  padding-right: 5%;
}

.mb-small {
  margin-bottom: 1.25rem;
}

/* title */
.title {
  text-align: center;
}
.title-header {
  color: #414223;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}
.title-divider {
  width: 4.5rem;
  margin: 0 auto;
}

.modal-title {
  font-size: 1.125rem;
}

/* ============= Each Section CSS =============== */
/* Gift Registry */
.gift-registry__content a:last-child {
  margin-top: 1rem;
}

/* Party Location */
.location iframe {
  width: 100%;
}
.location__content {
  padding-top: 1rem;
  padding-left: 1rem;
  text-align: left;
}
.location__content > * > h4 {
  text-transform: uppercase;
}
.location__content p {
  padding: 0 0 1rem 0;
}

/* Live Wedding */
#live-wedding {
  padding-top: 6.25rem;
}

.live-wedding__content h6 {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 700;
  color: #414223;
}

/* footer */
footer {
  background-color: #efead9;
  color: #414223;
  box-shadow: 3px 0 20px rgba(65, 66, 35, 0.05);
}
footer .container {
  padding-bottom: 1.5rem;
}
footer .link {
  margin-bottom: 2rem;
  transition: all 0.2s;
}
footer .link button {
  font-family: "Martel", serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #414223;
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  transition: 0.3s ease-in-out all;
  cursor: pointer;
}
footer .link button:hover {
  color: #b1a577;
}
footer .link button i {
  padding-right: 1rem;
}
footer p {
  font-size: 0.875rem;
}

.header {
  width: 100%;
  background: url(./assets/images/hero/heading-deco.png) no-repeat top/100%;
  position: relative;
}
.header .container {
  padding-top: 5rem;
  padding-bottom: 2rem;
}
.header__language {
  background: #f6f3ee;
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  top: 1rem;
  right: 1rem;
  border-radius: 100%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Martel", serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #414223;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0 0 0.75rem rgba(65, 66, 35, 0.4);
  transition: 0.3s ease-in-out all;
}
.header__language:hover {
  background-color: #414223;
  color: #d7d4c8;
}
.header__language:active {
  transform: translateY(2px);
}
.header__text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.header__title {
  font-weight: 800;
  color: #414223;
  text-transform: uppercase;
  line-height: 1.75rem;
}
.header__title span {
  font-family: "Mr De Haviland", cursive, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: lowercase;
  font-weight: 400;
  color: #7b7047;
}
.header__content {
  max-width: min(90%, 22.5rem);
}

.banner__content {
  font-size: 0.875rem;
  text-transform: uppercase;
  line-height: 1.5rem;
  padding-top: 3rem;
}
.banner__content > * {
  color: #7b7047;
  line-height: 160%;
}
.banner__content--detail-date {
  font-weight: 700;
  margin-bottom: 0.75rem;
  font-size: 0.875rem;
}
.banner__content--location {
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 0.75rem;
}

.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySwiper2 {
  height: 80%;
  width: 100%;
  cursor: grab;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  cursor: pointer;
}
.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}
.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.contact__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.75;
}
.contact__content h4 {
  text-transform: uppercase;
  font-size: 0.875rem;
  color: #7b7047;
  width: 5.5rem;
  font-size: 0.875rem;
  height: 0.875rem;
}
.contact__content a,
.contact__content a:link,
.contact__content a:visited {
  color: #7b7047;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.contact__content a i,
.contact__content a:link i,
.contact__content a:visited i {
  font-size: 1rem;
  transition: all 0.2s;
}
.contact__content a i:hover,
.contact__content a:link i:hover,
.contact__content a:visited i:hover {
  color: #7a6f47;
  transform: scale(1.05) translateY(-2px);
}
.contact__content a i:active,
.contact__content a:link i:active,
.contact__content a:visited i:active {
  transform: translateY(0);
  color: #414223;
}

#calendar .container {
  padding-bottom: 6.25rem;
}
#calendar .container h6 {
  text-transform: uppercase;
  color: #414223;
  font-size: 0.875rem;
  font-weight: 400;
  margin-bottom: 0.825rem;
}
#calendar .container .d-day {
  display: inline-block;
  background-color: #978c63;
  padding: 0.75rem 1rem;
  border-radius: 1.25rem;
  text-transform: none;
  color: #f6f3ee;
}
#calendar .container .calendar {
  padding-bottom: 1.5rem;
}
#calendar .container .calendar ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}
#calendar .container .calendar ul .sunday {
  color: #b97a55 !important;
}
#calendar .container .calendar ul li {
  position: relative;
  width: 14.2857142857%;
  z-index: 1;
  margin-bottom: 1.25rem;
  text-transform: uppercase;
}
#calendar .container .calendar ul li::before {
  content: "";
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  border-radius: 100%;
}
#calendar .container .calendar ul.weeks {
  font-weight: 700;
}
#calendar .container .calendar ul.weeks li {
  color: #414223;
}
#calendar .container .calendar ul.days li.active {
  color: #f3f3f3;
}
#calendar .container .calendar ul.days li.active::before {
  background: #978c63;
}
#calendar .container .calendar ul.days li.active.sunday {
  color: #b97a55;
}
#calendar .container .calendar ul.days li.inactive {
  color: #c3ba98;
}
#calendar .container .calendar ul.days li.inactive.sunday {
  color: #e6cfc1 !important;
}

#schedule {
  background-color: #efead9;
}

.schedule__heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.schedule__heading__img {
  width: 2.9rem;
}
.schedule__heading h3 {
  text-transform: uppercase;
  margin: 0 1rem;
  height: 1.125rem;
}
.schedule__content ul {
  list-style: none;
  margin-top: 1rem;
}
.schedule__content ul li {
  color: #414223;
  font-size: 1rem;
  text-transform: capitalize;
}
.schedule__content ul li:not(:last-child) {
  padding-bottom: 0.5rem;
}
.schedule__content ul li span:first-child {
  width: 35%;
  display: inline-block;
  text-align: right;
  margin-right: 1rem;
}
.schedule__content ul li span:last-child {
  width: 55%;
  display: inline-block;
  text-align: left;
}

.wedding-party__profiles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  cursor: pointer;
}
.wedding-party__profiles--detail {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin: 0 1.5rem 1.5rem 1.5rem;
  line-height: 1.125rem;
}
.wedding-party__profiles--detail img {
  max-width: 10rem;
  margin: 0 auto 1rem auto;
}
.wedding-party__profiles--detail h4 {
  color: #414223;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem;
}
.wedding-party__profiles--detail h5 {
  font-size: 0.75rem;
  color: #7b7047;
  text-transform: capitalize;
}

.wedding-party.container {
  padding-top: 6.25rem;
}

.mySwiper3 {
  height: 100%;
}
.mySwiper3 .swiper-slide {
  background-color: transparent;
}
.mySwiper3 .swiper-pagination {
  position: inherit;
  margin-top: 0.5rem;
}
.mySwiper3 .swiper-pagination-bullet {
  width: 0.75rem;
  height: 0.75rem;
  background-color: #968b62;
}
.mySwiper3 .swiper-pagination-bullet-active {
  background-color: #978c63;
}

@media screen and (max-width: 300px) {
  .wedding-party__profiles {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1.5rem;
  }
}
/* Comment Delete Modal */
.comment-delete-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  background-color: rgba(65, 66, 35, 0.4);
  visibility: hidden;
  z-index: 10;
  overflow-y: auto;
  overflow-x: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out all;
}
.comment-delete-popup__page {
  border-radius: 0.75rem;
  margin: auto;
  height: auto;
  max-width: 360px;
  min-width: 280px;
  min-width: 19rem;
  background-color: #f6f3ee;
  padding: 1.75rem;
}
.comment-delete-popup .modal__page-heading {
  padding: 1rem 0;
}
.comment-delete-popup .modal__page-heading .close-icon {
  transform: translateX(8px);
}
.comment-delete-popup__content label {
  color: #414223;
  display: block;
  margin: 0;
  text-align: left;
  width: 100%;
}
.comment-delete-popup__content input {
  width: 100%;
  border-color: transparent;
  border-bottom: 1px solid #7b7047;
  outline: none;
  background: transparent;
  padding-left: 0.25rem;
  padding-bottom: 0.25rem;
}

/* Comment Form */
#comment-form {
  display: inline-block;
  width: 90%;
  text-align: left;
}
#comment-form label {
  color: #414223;
  display: block;
  margin: 0;
}
#comment-form input {
  width: 100%;
  border-color: transparent;
  border-bottom: 1px solid #7b7047;
  outline: none;
  background: transparent;
  padding-left: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 1rem;
}
#comment-form textarea {
  width: 100%;
  border: 1px solid #7b7047;
  outline: none;
  padding: 0.5rem;
  background: transparent;
  border-radius: 0.5rem;
  font-size: 1rem;
}
#comment-form textarea::placeholder {
  color: #c0b9a0;
  padding: 0.25rem;
}

.comment__container {
  width: 90%;
  margin: 0 auto;
}
.comment p {
  padding: 0;
  text-align: left;
}
.comment__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.comment__header__main--date {
  font-size: 0.75rem;
}
.comment__header__main--name {
  color: #414223;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  text-align: left;
}
.comment__header .close-icon {
  transform: translateX(8px);
}
.comment__body {
  line-height: 150%;
  font-size: 1rem;
}

.comment-divider {
  width: 100%;
  height: 2rem;
  border-bottom: 1px solid #cbc5af;
  margin-bottom: 2rem;
}

.obligatory {
  font-size: 0.75rem;
}

.rsvp {
  background-color: #efead9;
}
.rsvp__heading {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}
.rsvp__heading h2 {
  line-height: 100%;
  margin: auto 1rem;
}
.rsvp__heading__img {
  width: 5.75rem;
  margin: auto;
}

.rsvp__popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(65, 66, 35, 0.4);
  display: grid;
  place-items: center;
  overflow-y: auto;
  overflow-x: hidden;
  transition: 0.3s ease-in-out all;
  z-index: 1000;
}
.rsvp__popup__page {
  border-radius: 0.75rem;
  margin: auto;
  height: auto;
  max-width: 390px;
  background-color: #f6f3ee;
}
.rsvp__popup__page .modal__page-heading {
  padding: 1.75rem 1.75rem 0 1.75rem;
}
.rsvp__popup__page .modal__page-heading .close-icon {
  transform: translateX(8px);
}
.rsvp__popup__page__content {
  padding: 1.75rem;
}
.rsvp__popup__page__content .rsvp-form {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.rsvp__popup__page__content .rsvp-form__name, .rsvp__popup__page__content .rsvp-form__guests--number, .rsvp__popup__page__content .rsvp-form__guests--name {
  margin-bottom: 2.5rem;
}
.rsvp__popup__page__content .rsvp-form__name input, .rsvp__popup__page__content .rsvp-form__guests--number input, .rsvp__popup__page__content .rsvp-form__guests--name input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #7b7047;
  background: transparent;
  outline: none;
  padding-left: 0.25rem;
  padding-bottom: 0.25rem;
  line-height: 1.5rem;
  font-size: 1rem;
}
.rsvp__popup__page__content .rsvp-form h4 {
  display: inline-block;
  width: 100%;
  color: #564e32;
  margin-bottom: 1rem;
}
.rsvp__popup__page__content .rsvp-form__meal--group {
  display: grid;
  gap: 0.25rem;
  grid-template-columns: 1fr 1fr;
}
.rsvp__popup__page__content .rsvp-form input[type=radio] {
  mix-blend-mode: multiply;
  accent-color: #414223;
  width: 0.75rem;
  height: 0.75rem;
  margin-right: 1rem;
}
.rsvp__popup__page__content .rsvp-form .alert p {
  padding: 0.5rem 0;
  line-height: 140%;
}
.rsvp__popup__page__content p {
  padding: 0 0 2rem 0;
}

.radio-input-label {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 100%;
  text-transform: capitalize;
}

.rsvp__popup--second {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(65, 66, 35, 0.4);
  display: grid;
  place-items: center;
  z-index: 10000;
  overflow-y: auto;
  overflow-x: hidden;
  transition: 0.3s ease-in-out all;
}
.rsvp__popup--second .rsvp--second {
  border-radius: 0.75rem;
  margin: auto;
  height: auto;
  width: 100%;
  max-width: 390px;
  background-color: #f6f3ee;
  padding: 1rem;
}
.rsvp__popup--second .rsvp--second__heading {
  height: 5%;
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.rsvp__popup--second .rsvp--second__content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 100%;
  padding: 4rem 0 5rem;
}
.rsvp__popup--second .rsvp--second__content h4 {
  margin-bottom: 0.5rem;
}
.rsvp__popup--second .rsvp--second__content p {
  margin-bottom: 0.75rem;
}
.rsvp__popup--second .rsvp--second__content button {
  margin: 0 auto;
}

@media screen and (max-width: 380px) {
  /* Adjust the max-width for smaller screens */
  .rsvp__popup__page {
    max-width: 360px; /* Adjust this value to your preference */
  }
}
.btn-prev,
.btn-next,
.btn-page {
  border: none;
  background-color: transparent;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 0.875rem;
  font-weight: 400;
  color: #7b7047;
  border-radius: 2rem;
  transition: 0.3s ease-in-out all;
}
.btn-prev:hover:not(.dots),
.btn-next:hover:not(.dots),
.btn-page:hover:not(.dots) {
  background-color: #c08766;
  color: #f3f3f3;
}
.btn-prev:not(.dots),
.btn-next:not(.dots),
.btn-page:not(.dots) {
  cursor: pointer;
}
.btn-prev .active,
.btn-next .active,
.btn-page .active {
  color: #c08766;
  background-color: #f1e4d9;
  font-weight: 700;
}

.pagination,
.page-btn-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  gap: 0.25rem;
}

.dots {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn, .btn:visited, .btn:link {
  display: inline-block;
  width: 73%;
  margin-top: 2rem;
  padding: 0.35rem;
  color: #414223;
  font-family: "Martel", serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 200%;
  text-decoration: none;
  text-transform: capitalize;
  cursor: pointer;
}
.btn-primary {
  background: transparent;
  border: 1px solid #414223;
  border-radius: 1.5625rem;
  transition: all 0.2s;
}
.btn-primary:hover {
  box-shadow: 0 0 1.875rem rgba(65, 66, 35, 0.25);
  transform: translateY(-2px);
}
.btn-primary:active {
  transform: translateY(0);
  box-shadow: 0 0 0.625rem rgba(65, 66, 35, 0.25);
}
.btn-block {
  width: 100% !important;
}

button:disabled {
  cursor: wait;
}

.btn-delete {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  width: 1.25rem;
  height: 1.25rem;
  color: #7b7047;
}

.form {
  width: calc(100% - 2rem);
  border-radius: 2rem;
  padding: 2rem 2.5rem;
  margin: 3rem auto;
}
.form-row {
  margin-bottom: 1.5rem;
}
.form-label {
  display: block;
  margin-bottom: 0.25rem;
  text-align: left;
  font-size: 0.875rem;
  text-transform: capitalize;
  letter-spacing: 2%;
  line-height: 100%;
  color: #414223;
}
.form-input {
  width: 100%;
  background: transparent;
  padding: 0.125rem 0.3125rem 0.5rem;
  border-color: transparent;
  border-bottom: 1px solid #7b7047;
  outline: none;
  font-size: 1rem;
  font-family: "Martel", serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.form-textarea {
  width: 100%;
  background: transparent;
  padding: 0.5rem;
  border: 1px solid #7b7047;
  border-radius: 0.5rem;
  outline: none;
  height: 7rem;
}
.form-textarea-input, .form-textarea-select, .form-textarea-btn {
  height: 40px;
}
.form-textarea::placeholder {
  font-family: inherit;
  color: #c0b9a0;
  padding: 0.25rem;
}

.alert {
  width: 100%;
  height: 100%;
  padding-left: 1rem !important;
  margin-top: 0.25rem;
  font-size: 0.875rem;
  border-radius: 3rem;
  display: none;
  visibility: hidden;
  opacity: 0;
}

.alert-danger {
  color: rgb(226, 98, 0);
  background: rgba(248, 114, 11, 0.156);
}

.alert-success {
  color: rgb(21, 87, 36);
  background: rgba(163, 221, 176, 0.457);
}

.obligatory {
  font-size: 0.75rem;
}

.show {
  display: inline-block;
  visibility: visible;
  opacity: 1;
}

.modal__bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid !important;
  place-items: center;
  background-color: rgba(65, 66, 35, 0.4);
  overflow-y: auto;
  overflow-x: hidden;
  z-index: -10;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out all;
}
.modal__page {
  max-width: 330px;
  width: 100%;
  height: auto;
  margin: auto;
  padding: 1.75rem 0 2.5rem;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: min(1.75rem, 3vh);
  background-color: #f6f3ee;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}
.modal__page-heading {
  padding: 0 1rem 0 1.75rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.modal__page-content {
  padding: 0 1.75rem;
}
.modal__page-content p {
  padding: 0;
  text-align: start;
}

.show {
  z-index: 100;
  visibility: visible;
  opacity: 1;
}

/*# sourceMappingURL=index.css.map */
