/* primary */
/* secondary */
/* grey */
/* rest of the colors */
/* font family */
/* test size */
/* rest of the vars */
/* box shadow*/
/* ============= GLOBAL CSS =============== */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 100%; /* 16px */
  background-color: #f3f3f3;
}

body {
  box-sizing: border-box;
  background: #f6f3ee;
  max-width: 500px;
  margin: 0 auto;
  font-family: "Martel", serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  letter-spacing: 2%;
  color: #7b7047;
  line-height: 160%;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p {
  margin: 0;
  overflow-wrap: break-word;
  line-height: 1.75rem;
  padding: 0 1.5rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: "Martel", serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 120%;
  color: #373737;
  overflow-wrap: break-word;
}

h1 {
  font-size: 1.5rem; /* Large heading */
}

h2 {
  font-size: 1.25rem; /* Medium heading */
}

h3 {
  font-size: 1.125rem; /* Small heading */
}

h4 {
  font-size: 1rem; /* Extra small heading */
}

h5 {
  font-size: clamp(0.875rem, 1.5vw, 1.5rem); /* Tiny heading */
}

/* BIGGER FONTS */
/* h1 {
  font-size: clamp(3rem, 6vw, 6rem);
}

h2 {
  font-size: clamp(2.5rem, 5vw, 5rem);
}

h3 {
  font-size: clamp(2rem, 4vw, 4rem);
}

h4 {
  font-size: clamp(1.5rem, 3vw, 3rem);
}

h5 {
  font-size: clamp(1rem, 2vw, 2rem);
}
 */
.text {
  margin-bottom: 1.5rem;
  max-width: 40em;
}

small,
.text-small {
  font-size: 0.875rem;
}

a {
  text-decoration: none;
  color: #978c63;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
  padding: 0;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
.loading {
  width: 6rem;
  height: 6rem;
  border: 5px solid #b8b8b8;
  border-radius: 50%;
  border-top-color: #7b7047;
  animation: spinner 0.6s linear infinite;
}

.container {
  padding: 3rem 0;
}

.section-divider {
  text-align: center;
}
.section-divider__img {
  width: 71px;
  margin: 0 auto;
}

/* title */
.title {
  text-align: center;
}
.title-header {
  color: #414223;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}
.title-divider {
  width: 4.5rem;
  margin: 0 auto;
}

.comment-divider {
  width: 100%;
  height: 2rem;
  border-bottom: 1px solid #cbc5af;
  margin-bottom: 2rem;
}

.header {
  width: 100%;
  background: url(./assets/images/hero/heading-deco.png) no-repeat top/100%;
  position: relative;
}
.header .container {
  padding-top: 5rem;
  padding-bottom: 2rem;
}
.header__language {
  background: #f6f3ee;
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  top: 1rem;
  right: 1rem;
  border-radius: 100%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Martel", serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #414223;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0 0 0.75rem rgba(65, 66, 35, 0.4);
  transition: 0.3s ease-in-out all;
}
.header__language:hover {
  background-color: #414223;
  color: #d7d4c8;
}
.header__language:active {
  transform: translateY(2px);
}
.header__text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.header__title {
  font-weight: 800;
  color: #414223;
  text-transform: uppercase;
  line-height: 1.75rem;
}
.header__title span {
  font-family: "Mr De Haviland", cursive, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: lowercase;
  font-weight: 400;
  color: #7b7047;
}
.header__content {
  max-width: min(90%, 22.5rem);
}

.banner__content {
  font-size: 0.875rem;
  text-transform: uppercase;
  line-height: 1.5rem;
  padding-top: 3rem;
}
.banner__content > * {
  color: #7b7047;
  line-height: 160%;
}
.banner__content--detail-date {
  font-weight: 700;
  margin-bottom: 0.75rem;
  font-size: 0.875rem;
}
.banner__content--location {
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 0.75rem;
}

.btn, .btn:visited, .btn:link {
  display: inline-block;
  width: 73%;
  margin-top: 2rem;
  padding: 0.35rem;
  color: #414223;
  font-family: "Martel", serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 200%;
  text-decoration: none;
  text-transform: capitalize;
  cursor: pointer;
}
.btn-primary {
  background: transparent;
  border: 1px solid #414223;
  border-radius: 1.5625rem;
  transition: all 0.2s;
}
.btn-primary:hover {
  box-shadow: 0 0 1.875rem rgba(65, 66, 35, 0.25);
  transform: translateY(-2px);
}
.btn-primary:active {
  transform: translateY(0);
  box-shadow: 0 0 0.625rem rgba(65, 66, 35, 0.25);
}

.btn-block {
  width: 100%;
}

button:disabled {
  cursor: wait;
}

.btn-delete {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  width: 1.25rem;
  height: 1.25rem;
  color: #7b7047;
}

.form {
  width: calc(100% - 2rem);
  border-radius: 2rem;
  padding: 2rem 2.5rem;
  margin: 3rem auto;
}
.form-row {
  margin-bottom: 1.5rem;
}
.form-label {
  display: block;
  margin-bottom: 0.25rem;
  text-align: left;
  font-size: 0.875rem;
  text-transform: capitalize;
  letter-spacing: 2%;
  line-height: 100%;
  color: #414223;
}
.form-input {
  width: 100%;
  background: transparent;
  padding: 0.125rem 0.3125rem 0.5rem;
  border-color: transparent;
  border-bottom: 1px solid #7b7047;
  outline: none;
  font-size: 1rem;
  font-family: "Martel", serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.form-textarea {
  width: 100%;
  background: transparent;
  padding: 0.5rem;
  border: 1px solid #7b7047;
  border-radius: 0.5rem;
  outline: none;
  height: 7rem;
}
.form-textarea-input, .form-textarea-select, .form-textarea-btn {
  height: 40px;
}
.form-textarea::placeholder {
  font-family: inherit;
  color: #c0b9a0;
  padding: 0.25rem;
}

.comment__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.alert {
  width: 100%;
  height: 100%;
  padding: auto;
  margin-top: 0.25rem;
  font-size: 0.875rem;
  border-radius: 2rem;
  display: none;
  visibility: hidden;
  opacity: 0;
}

.alert-danger {
  color: rgb(226, 98, 0);
  background: rgba(248, 114, 11, 0.156);
}

.alert-success {
  color: rgb(21, 87, 36);
  background: rgba(163, 221, 176, 0.457);
}

.obligatory {
  font-size: 0.75rem;
}

.show {
  display: inline-block;
  visibility: visible;
  opacity: 1;
}

/*# sourceMappingURL=index.css.map */
